:root {
  --scroll-color-gray-100: 241 245 249;
  --scroll-color-gray-300: 203 213 225;
  --scroll-color-gray-700: 51 65 85;
  --scroll-color-gray-800: 30 41 59;

}

* ::-webkit-scrollbar {
  background-color: transparent;
  height: .6em;
  width: .6em;
}

*.dark ::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--scroll-color-gray-700) / var(--tw-bg-opacity));
}

* ::-webkit-scrollbar-thumb {
  border-radius: .6em;
  --tw-bg-opacity: 1;
  background-color: rgb(var(--scroll-color-gray-300) / var(--tw-bg-opacity));
}

*.dark ::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--scroll-color-gray-800) / var(--tw-bg-opacity));
}

* ::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--scroll-color-gray-100) / var(--tw-bg-opacity));
}